html
  head
    title Forgot Password
  body
    h2 Hello #{user.first_name},
    p Here's your link to reset password, remember its just a one time link and will expire within hour if you don't use it.
    p
      a(href="#{host}/reset/#{fpHash}") Reset password
    p If you can't click the link above please follow the link below
    p link #{host}/reset/#{fpHash}
